{% extends 'base.html' %}

{% block content %}
<style>
    /* static/css/styles.css */

/* Add these styles for the registration form */
.registration-form {
    max-width: 400px;
    margin: 0 auto;
}

.registration-form label {
    display: block;
    margin-bottom: 8px;
}

.registration-form input,
.registration-form select,
.registration-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.registration-form button {
    background-color: #2980b9;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #216795;
}

</style>
<div class="container">
    <h2>Register</h2>
    <form method="post" action="{% url 'signup' %}" class="registration-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
{% endblock %}
